
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

// Other
@border: 2px dashed rgb(190, 190, 190);

// Devices
@mobile: ~"(max-width: 500px)";